<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" ng-click="header.toggleMenu()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#/">Less Sketchy than Craigslist</a>
    </div>
    <div class="collapse navbar-collapse ng-class: {'in': header.menuIsOpen}">
      <ul class="nav navbar-nav">
        <li ng-class="{active: header.isActive('/')}">
          <a href="/#/">Home</a></li>
        <li ng-class="{active: header.isActive('/listedstuff')}">
          <a href="/#/listedstuff">Buy Stuff</a></li>
        <li ng-class="{active: header.isActive('/sell')}">
          <a href="/#/sell">Sell Stuff</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>