<div class="container">
  <div class="individual-stuff" ng-controller="SingleItemController as itemCtrl">
    <h4>{{itemCtrl.item.title}}</h4>
    <p>{{itemCtrl.item.cost | currency}}</p>
    <img ng-src={{itemCtrl.item.picture}}>
    <p>{{itemCtrl.item.description}}</p>
    <p>Location: {{itemCtrl.item.location}}</p>
    <a ng-href="/#/appusers/{{itemCtrl.item.selling_app_user_id}}">Learn more about the seller</a>
    <br>
    <button ng-click="itemCtrl.emailTab()">Click to contact!</button>
  </div>
</div>
